body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  
}
/* heading content  */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* current items  */
.red {
  background-color: rgb(223, 74, 74);
  list-style: none;
  text-align: left;
  padding:20px;
  border: 2px solid black;  
}

/* future items */
.green {
  background-color: rgb(113, 199, 113);
  list-style: none;
  text-align: left;
  padding:20px;
  border: 2px solid black;
}

/* past items */
.time-block {
  text-align: left;
  background-color: rgb(245, 234, 234);
  padding:20px;
  border: 2px solid black;
}

/* fixes alignment issue caused by bootstrap */
.fixbox{
  padding: .375rem .46rem 
}
.mb-3, .my-3 {
  margin-bottom: 0rem!important;
}
.btn  {
  background-color: #06aed5;
  border-radius: 0px 15px 15px 0px;
}
.input-group {
  display: flex;
  flex-wrap: nowrap;
}

/* button styling */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
